{% extends 'user/base.html' %}
{% block body_block %}
{% if user.is_authenticated %}
<h1>Hi {{user.username}}</h1>
{% for e in election %}
<h1>Election Date: {{e.election_date}}</h1>
<h3>Start Time: {{e.start_time}}</h3>
<h3>End Time: {{e.end_time}}</h3>
{% endfor %}
<center>
    <a href="{% url 'auth:instruction' %}">Voting Instructions</a><br>
    {% if userProfileInfo.voted %}
    <h1>You have already Voted</h1>
    {% else %}
    <a href="{% url 'auth:voting' %}">Click here to vote</a>
    {% endif %}
</center>
{% endif %}
{% endblock %}