{% extends 'user/base.html' %}
{% load staticfiles %}
{% block body_block %}
<style>
    .box{
        font-weight: bold;
        padding: 20px;
        display: none;
        margin-top: 20px;
    }
    .Senate{
        background: #DBDBDB;
    }
    .Individual{
        background: #DBDBDB;
    }
    label{
        margin-right: 15px;
    }


</style>

{% if user.is_authenticated %}
<div>
    <h2><label><input type="radio" name="colorRadio" value="Senate"> Senate</label></h2>
    <div class="Senate box">
        <form class="form-inline" action="/auth/partyvote/" method="post">
            {% csrf_token %}
            {% for p in party %}
            <div class="form-group block">
                <label for="pref">{{p.party_name}}</label>
                <img class="img-thumbnail" width="50px" height="50px" src="/static/{{p.party_logo}}">
                <!--            <input id="input" type="text" class="form-control"/>-->
                <select name="{{p.party_name}}" id="pref" class="form-control">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                </select>
            </div>
            {% endfor %}
            <button class="btn btn-primary" type="submit" value="partypref">Vote</button>
        </form>
    </div>
    <hr>
    <h2><label><input type="radio" name="colorRadio" value="Individual"> Individual</label></h2>
    <div class="Individual box" method ="post">
        <form class="form-inline" action="/auth/candidatevote/" method="post">
            {% csrf_token %}
            {% for c in candidate %}
            <div class="form-group block">
                <label>{{c.candidate_surname}} {{c.candidate_givenname}}</label>
                <select id="input" name="{{c.candidate_surname}}" class="form-control">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                </select>
            </div>
            {% endfor %}
            <button class="btn btn-primary" type="submit" value="candidatepref">Vote</button>
        </form>
    </div>
</div>


<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script>
$(document).ready(function(){
    $('input[type="radio"]').click(function(){
        var inputValue = $(this).attr("value");
        var targetBox = $("." + inputValue);
        $(".box").not(targetBox).hide();
        $(targetBox).show();
    });
});
</script>

{% endif %}
{% endblock %}