{% extends 'authentication/base.html'%}
{% block body_block %}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<head>
    <title> Sign In Form</title>
</head>
<link rel="stylesheet" type="text/css" href="style.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<body>
<div class="form">

    <h2> Sign In</h2>
    <form action="{% url 'auth:user_login' %}" method="post">
        {% csrf_token %}

        <div class="input-box">
            <i class="fa fa-user" aria-hidden="true"></i>
            <input type="text" required="required" placeholder="Username">
        </div>


        <div class="input-box">
            <i class="fa fa-unlock-alt" aria-hidden="true"></i>
            <input type="password" id="password" required="required" placeholder="Password">
        </div>


        <div class="input-box">
            <input id="login-submit" type="submit" name="" value="Login">
        </div>

        <a href="#">Forgot Password?</a>

    </form>
</div>


</body>
{% endblock %}

