{% extends 'authentication/base.html'%}
{% block body_block %}
<div class="form">
    <h2> Sign In</h2>
    <form action="{% url 'auth:user_login' %}" method="post">
        {% csrf_token %}

        <div class="input-box">
            <i class="fa fa-user" aria-hidden="true"></i>
            <input type="text" name="username" required="required" placeholder="Username">
        </div>


        <div class="input-box">
            <i class="fa fa-unlock-alt" aria-hidden="true"></i>
            <input type="password" id="password" name="password" required="required" placeholder="Password">
        </div>


        <div class="input-box">
            <input id="login-submit" type="submit" name="" value="Login">
        </div>

        <a href="{% url 'auth:password_reset' %}">Forgot Password?</a>

    </form>
</div>
{% endblock %}

