{% extends 'authentication/base.html' %}
{% load staticfiles %}
{% block body_block %}

<div class="jumbotron">
    {% if registered %}
        <h1>Thank You for Registering</h1>
    {% else %}
        <h1>Register</h1>
        <h3>Fill out this form</h3>

        <form enctype="multipart/form-data" method="post">
            {% csrf_token %}
            {{ user_form.as_p }}
            {{ profile_form.as_p }}
            <input type="submit" value="Register">

        </form>
    {% endif %}

</div>

{% endblock %}
